# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
*.keystore binary
*.p12 binary
*.ttf binary
*.woff binary
*.woff2 binary
